USE [master]
GO
/****** Object:  Database [WebDauThau]    Script Date: 11/7/2022 2:19:21 PM ******/
CREATE DATABASE [WebDauThau]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebDauThau', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebDauThau.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebDauThau_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.MSSQLSERVER\MSSQL\DATA\WebDauThau_log.ldf' , SIZE = 139264KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebDauThau].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebDauThau]
GO
USE [WebDauThau]
GO
/****** Object:  User [NT AUTHORITY\IUSR]    Script Date: 11/7/2022 2:19:22 PM ******/
CREATE USER [NT AUTHORITY\IUSR] FOR LOGIN [NT AUTHORITY\IUSR]
GO
/****** Object:  User [IIS APPPOOL\WebLuuTru]    Script Date: 11/7/2022 2:19:22 PM ******/
CREATE USER [IIS APPPOOL\WebLuuTru] FOR LOGIN [IIS APPPOOL\WebLuuTru] WITH DEFAULT_SCHEMA=[dbo]
GO
ALTER ROLE [db_datareader] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [NT AUTHORITY\IUSR]
GO
ALTER ROLE [db_datareader] ADD MEMBER [IIS APPPOOL\WebLuuTru]
GO
ALTER ROLE [db_datawriter] ADD MEMBER [IIS APPPOOL\WebLuuTru]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 11/7/2022 2:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](max) NOT NULL,
	[HashedPassword] [varbinary](max) NOT NULL,
	[Key] [varbinary](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[BenMoiThauDaDuyet]    Script Date: 11/7/2022 2:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BenMoiThauDaDuyet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Mã cơ quan] [nvarchar](10) NULL,
	[Bên mời thầu] [nvarchar](max) NOT NULL,
	[Địa chỉ] [nvarchar](max) NULL,
	[Số điện thoại] [nvarchar](15) NULL,
	[Tên viết tắt] [nvarchar](50) NULL,
	[Tên tiếng Anh] [nvarchar](max) NULL,
	[Phân loại trực thuộc] [nvarchar](50) NULL,
	[Tập đoàn TCT Bộ ban ngành] [nvarchar](50) NULL,
	[Tỉnh Thành Phố] [nvarchar](50) NULL,
	[Số Fax cơ quan] [nvarchar](50) NULL,
	[Trang web] [nvarchar](max) NULL,
	[Hình thái kinh doanh] [nvarchar](50) NULL,
	[Mã số thuế] [nvarchar](50) NULL,
	[Ngành nghề] [nvarchar](50) NULL,
	[Ngày phê duyệt] [date] NULL,
	[Số ĐKKD] [nvarchar](50) NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_BenMoiThauDaDuyet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[File]    Script Date: 11/7/2022 2:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[File](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Thông báo ID] [int] NULL,
	[Kết quả ID] [int] NULL,
	[Path] [nvarchar](max) NOT NULL,
	[FileSize] [int] NOT NULL,
	[Hashed Content] [varbinary](max) NOT NULL,
	[Content] [varbinary](max) NOT NULL,
 CONSTRAINT [PK_File] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KetQuaLuaChonNhaThau_ThongTinChiTiet]    Script Date: 11/7/2022 2:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KetQuaLuaChonNhaThau_ThongTinChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Số TBMT] [nvarchar](50) NOT NULL,
	[Số hiệu KHLCNT] [nvarchar](50) NOT NULL,
	[Tên gói thầu] [nvarchar](max) NOT NULL,
	[Tên dự án/ Dự toán mua sắm] [nvarchar](max) NULL,
	[Bên mời thầu] [nvarchar](max) NULL,
	[Hình thức lựa chọn NT] [nvarchar](50) NULL,
	[Giá dự toán] [bigint] NULL,
	[Giá gói thầu] [bigint] NULL,
	[Nhà thầu trúng thầu] [nvarchar](max) NULL,
	[Giá trúng thầu] [bigint] NULL,
	[Hình thức hợp đồng] [nvarchar](20) NULL,
	[Thời gian thực hiện HĐ] [int] NULL,
	[Số quyết định phê duyệt] [nvarchar](max) NULL,
	[Ngày phê duyệt] [datetime2](0) NULL,
	[Ngày đăng tải] [datetime2](0) NULL,
	[Lĩnh vực] [nvarchar](20) NULL,
	[AccountID] [int] NULL,
	[NhaThauTrungThauID] [int] NULL,
	[ThongBaoMoiThauID] [int] NULL,
	[BenMoiThauID] [int] NULL,
 CONSTRAINT [PK_KetQuaLuaChonNhaThau_ThongTinChiTiet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhaThauDaDuyet]    Script Date: 11/7/2022 2:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhaThauDaDuyet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Tên nhà thầu] [nvarchar](max) NOT NULL,
	[Số ĐKKD] [nvarchar](10) NULL,
	[Địa chỉ] [nvarchar](max) NULL,
	[Ngày phê duyệt] [date] NULL,
	[Loại hình doanh nghiệp] [nvarchar](50) NULL,
	[Ngày thành lập] [date] NULL,
	[Tên tiếng Anh] [nvarchar](max) NULL,
	[Tỉnh Thành phố] [nvarchar](50) NULL,
	[Quốc gia] [nvarchar](50) NULL,
	[Địa chỉ giao dịch] [nvarchar](max) NULL,
	[Số nhân viên] [int] NULL,
	[Vị trí nhà thầu] [nvarchar](50) NULL,
	[Số điện thoại] [nvarchar](20) NULL,
	[Số Fax] [nvarchar](20) NULL,
	[Trạng thái đóng phí] [nvarchar](50) NULL,
	[AccountID] [int] NULL,
 CONSTRAINT [PK_NhaThauDaDuyet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThongBaoMoiThau_ThongTinChiTiet]    Script Date: 11/7/2022 2:19:22 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThongBaoMoiThau_ThongTinChiTiet](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Số TBMT] [nvarchar](50) NOT NULL,
	[Số hiệu KHLCNT] [nvarchar](50) NOT NULL,
	[Thời điểm đăng tải] [datetime2](0) NULL,
	[Lĩnh vực] [nvarchar](20) NULL,
	[Bên mời thầu] [nvarchar](max) NULL,
	[Tên gói thầu] [nvarchar](max) NOT NULL,
	[Phân loại] [nvarchar](50) NULL,
	[Tên dự toán mua sắm] [nvarchar](max) NULL,
	[Chi tiết nguồn vốn] [nvarchar](max) NULL,
	[Loại hợp đồng] [nvarchar](20) NULL,
	[Hình thức lựa chọn nhà thầu] [nvarchar](50) NULL,
	[Phương thức LCNT] [nvarchar](30) NULL,
	[Thời gian thực hiện hợp đồng] [int] NULL,
	[Hình thức dự thầu] [nvarchar](20) NULL,
	[Chi phí E-HSMT] [bigint] NULL,
	[Thời gian hiệu lực của E-HSDT] [int] NULL,
	[Địa điểm nhận HSDT] [nvarchar](max) NULL,
	[Địa điểm thực hiện gói thầu] [nvarchar](max) NULL,
	[Thời điểm đóng/mở thầu] [datetime2](0) NULL,
	[Địa điểm mở thầu] [nvarchar](max) NULL,
	[Dự toán gói thầu] [bigint] NULL,
	[Số tiền bảo đảm dự thầu] [bigint] NULL,
	[Hình thức bảo đảm dự thầu] [nvarchar](20) NULL,
	[Lần chỉnh sửa] [int] NULL,
	[AccountID] [int] NULL,
	[BenMoiThauID] [int] NULL,
 CONSTRAINT [PK_ThongBaoMoiThau_ThongTinChiTiet] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
ALTER TABLE [dbo].[File] ADD  CONSTRAINT [DF_File_Content]  DEFAULT ((0)) FOR [Content]
GO
ALTER TABLE [dbo].[ThongBaoMoiThau_ThongTinChiTiet] ADD  CONSTRAINT [DF_ThongBaoMoiThau_ThongTinChiTiet_Lần chỉnh sửa]  DEFAULT ((0)) FOR [Lần chỉnh sửa]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_KetQuaLuaChonNhaThau_ThongTinChiTiet] FOREIGN KEY([Kết quả ID])
REFERENCES [dbo].[KetQuaLuaChonNhaThau_ThongTinChiTiet] ([ID])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_KetQuaLuaChonNhaThau_ThongTinChiTiet]
GO
ALTER TABLE [dbo].[File]  WITH CHECK ADD  CONSTRAINT [FK_File_ThongBaoMoiThau_ThongTinChiTiet] FOREIGN KEY([Thông báo ID])
REFERENCES [dbo].[ThongBaoMoiThau_ThongTinChiTiet] ([ID])
GO
ALTER TABLE [dbo].[File] CHECK CONSTRAINT [FK_File_ThongBaoMoiThau_ThongTinChiTiet]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'File', @level2type=N'COLUMN',@level2name=N'FileSize'
GO
USE [master]
GO
